.children-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-image: url('https://gw.alipayobjects.com/zos/rmsportal/TVYTbAXWheQpRcWDaDMu.svg');
  background-size: 100% 80%;
}

.login-form {
  width: 350px;
}

.login-form-margin {
  margin-bottom: 16px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 36px;
}

.logo-text {
  display: inline-block;
  color: #10239e;
  font-weight: 900;
  font-size: 42px;
  font-family: "Nunito", Helvetica Neue, Arial, Helvetica, sans-serif;
  vertical-align: middle;
  margin-bottom: 2px;
}

.slogan-text {
  margin : 0;
  font-size: 16px;
  font-weight: 600;
  font-family: "Nunito", Helvetica Neue, Arial, Helvetica, sans-serif;
}

.ant-btn-primary[disabled], .ant-btn-primary[disabled]:hover, .ant-btn-primary[disabled]:focus, .ant-btn-primary[disabled]:active {
  color: #fff;
  border-color: #10239e;
  background: #10239e;
  opacity: 0.6;
  text-shadow: none;
  box-shadow: none;
  border-radius: 4px;
}
