<div class="children-container">
  <div class="logo-container">
    <h1 class="logo-text">Phully</h1>
    <h3 class="slogan-text">Employee dashboard and monitoring</h3>
  </div>

  <form nz-form [formGroup]="form" [nzAutoTips]="autoTips" class="login-form" (ngSubmit)="onSigninSubmit()">
    <nz-form-item>
      <nz-form-control nzErrorTip="Please input your email!">
        <nz-input-group nzPrefixIcon="user">
          <input nz-input formControlName="email" placeholder="Email" type="text" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="Please input your Password!">
        <nz-input-group nzPrefixIcon="lock">
          <input nz-input formControlName="password" placeholder="Password" type="password" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <div nz-row class="login-form-margin">
      <div nz-col [nzSpan]="12">
        <label nz-checkbox formControlName="remember">
          <span>Remember me</span>
        </label>
      </div>
      <div nz-col [nzSpan]="12">
        <a class="login-form-forgot">Forgot password</a>
      </div>
    </div>
    <button nz-button [nzType]="'primary'" class="login-form-button login-form-margin" [disabled]="!form.valid" >
      Sign In
    </button>
    Or
    <a>Sign Up Now!</a>
  </form>
</div>
