<div class="children-container">
  <div nz-row class="header-container">
    <div nz-col nzSpan="24">
      <h3 nz-typography>Employee List</h3>
    </div>
  </div>

  <div nz-row class="header-container">
    <div nz-col nzSpan="4">
      <button nz-button nzType="primary" nzSize="default" nzShape="round">
        <a routerLink="/employee/upsert" routerLinkActive="active" ariaCurrentWhenActive="page">Create Employee </a>
      </button>
    </div>
    <div nz-col nzSpan="4" nzOffset="16">
      <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
        <input #employeeSearch nz-input type="text" placeholder="input search text" />
      </nz-input-group>
      <ng-template #suffixIconButton>
        <button nz-button nzType="primary" nzSearch><span nz-icon nzType="search"></span></button>
      </ng-template>
    </div>
  </div>

  <nz-table
    #employeesTable
    nzSize="middle"
    [nzData]="employees"
    [nzTotal]="employeeTotalTable"
    [nzFrontPagination]="false"
    [nzShowSizeChanger]="true"
    (nzQueryParams)="onEmployeeTableChange($event)"
  >
    <thead>
      <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Name</th>
        <th>Email</th>
        <th>Birth Date</th>
        <th>Group</th>
        <th>Status</th>
        <th nzAlign="center">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dataTable of employeesTable.data; let i = index">
        <td>{{ dataTable.id }}</td>
        <td>{{ dataTable.username }}</td>
        <td>{{ dataTable.firstName + ' ' + dataTable.lastName }}</td>
        <td>{{ dataTable.email }}</td>
        <td>{{ dataTable.birthDate | date : 'dd MMMM yyyy' }}</td>
        <td>{{ dataTable.group }}</td>
        <td>
          @if (dataTable.status === 0) {
          <nz-badge nzColor="green" nzText="Active"></nz-badge>
          } @else{
          <nz-badge *ngIf="dataTable.status === 1" nzColor="volcano" nzText="Non Active"></nz-badge>
          }
        </td>
        <td nzAlign="center">
          <button nz-button nzType="primary" nzSize="small" (click)="onEmployeeInformationOpen(dataTable)">
            <span nz-icon nzType="eye" nzTheme="outline"></span>
          </button>
          <nz-divider nzType="vertical"></nz-divider>
          <button nz-button nzType="primary" nzSize="small" class="edit-button">
            <span nz-icon nzType="edit" nzTheme="outline"></span>
          </button>
          <nz-divider nzType="vertical"></nz-divider>
          <button nz-button nzType="primary" nzSize="small" nzDanger>
            <span nz-icon nzType="delete" nzTheme="outline"></span>
          </button>
        </td>
      </tr>
    </tbody>
  </nz-table>

  <nz-drawer #employeeDrawer nzTitle="Employee Information" nzPlacement="right" nzSize="large" [nzVisible]="false" (nzOnClose)="onEmployeeInformationClose()">
    <ng-container *nzDrawerContent>
      @if(employee){
      <nz-descriptions [nzColumn]="2" nzTitle="Personal">
        <nz-descriptions-item [nzTitle]="'Username'" [nzSpan]="1">
          {{ employee.username }}
        </nz-descriptions-item>

        <nz-descriptions-item [nzTitle]="'Email'" [nzSpan]="1">
          {{ employee.email }}
        </nz-descriptions-item>

        <nz-descriptions-item [nzTitle]="'First Name'" [nzSpan]="1">
          {{ employee.firstName }}
        </nz-descriptions-item>

        <nz-descriptions-item [nzTitle]="'Last Name'" [nzSpan]="1">
          {{ employee.lastName }}
        </nz-descriptions-item>

        <nz-descriptions-item [nzTitle]="'Birth Date'" [nzSpan]="1">
          {{ employee.birthDate | date : 'dd MMMM yyyy' }}
        </nz-descriptions-item>

        <nz-descriptions-item [nzTitle]="'Salary'" [nzSpan]="1">
          {{ employee.basicSalary }}
        </nz-descriptions-item>

        <nz-descriptions-item [nzTitle]="'Description'" [nzSpan]="1">
          {{ employee.description }}
        </nz-descriptions-item>
      </nz-descriptions>
      }
    </ng-container>
  </nz-drawer>
</div>
