nz-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  height: 48px;
  padding: 0 24px;
  z-index: 100;
}

nz-content {
  margin: 72px 24px 24px;
}

nz-breadcrumb {
  margin: 16px 0;
}

nz-footer {
  text-align: center;
}

[nz-menu] {
  line-height: 48px;
}

.layout {
  min-height: 100vh;
}

.inner-content {
  background: #fff;
}

.logout-button {
  color: #f0f0f0;
}

.logout-button:before {
  background-color: transparent !important;
}

.logo {
  float: left;
  height: 48px;
  padding-right: 24px;
  line-height: 48px;
  background: #001529;
}

.logo img {
  display: inline-block;
  height: 32px;
  width: 32px;
  vertical-align: middle;
}

.logo h1 {
  display: inline-block;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  font-family: Avenir, Helvetica Neue, Arial, Helvetica, sans-serif;
  vertical-align: middle;
}
